<!DOCTYPE html>
<html>
<head>
	<title>Admin Page</title>

</head>
<body>

<script>
     
       // const gift = null;
     
     
       // window.extAsyncInit = function() {
       //   // the Messenger Extensions JS SDK is done loading
       //   MessengerExtensions.getContext(
       //     '618176275047101',
       //     function success(context) {
       //       window.attachApp(context.psid, gift);
       //     }, function error(err) {
       //       window.attachApp();
       //   });
       // };
     
     (function(doc, script, domId){
       var js, fjs = doc.getElementsByTagName(script)[0];
       if (doc.getElementById(domId)) {
         return;
       }

       js = doc.createElement(script);
       js.id = domId;
       js.src = "//connect.facebook.com/en_US/messenger.Extensions.js";

       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'Messenger'));
    </script>

<form action="/configure" method="post">
	<fieldset>
		<h3>Lời chào</h3>
		<p>Đây là tin nhắn khách hàng nhận được khi chọn Get Started</p>
		<input type="text" name="getStarted" id="getStarted" value="<%= getStarted %>" required>
		<h3>Messenger Menu</h3>
		<p>Đây là menu hiển thị ở bên trái ô chat</p>
		<ul>
			<li>
				<h4>Xem sản phẩm</h4>
				<p>Hiển thị sản phẩm của cửa hàng</p>
				<p>Tên nút bấm</p>
				<input type="text" name="showProductButtonTitle" id="showProductButtonTitle" value="<%= showProductButtonTitle %>" required>
			</li>
			<li>
				<h4>Trang Web</h4>
				<p>Tên nút bấm</p>
				<input type="text" name="websiteButtonTitle" id="websiteButtonTitle" value="<%= websiteButtonTitle %>" required>
				<p>Địa chỉ website</p>
				<input type="text" name="websiteButtonUrl" id="websiteButtonUrl" value="<%= websiteButtonUrl %>" required>
			</li>
			<li>
				<h4>Tùy chọn</h4>
				<p>Tên nút bấm</p>
				<input type="text" name="customButtonTitle" id="customButtonTitle" value="<%= customButtonTitle %>" required>
				<p>Tin nhắn cho khách hàng</p>
				<input type="text" name="customButtonText" id="customButtonText" value="<%= customButtonText %>" required>
			</li>
		</ul>
		<input type="submit" name="" value="Lưu thay đổi">
	</fieldset>
</form>

</body>

</html>